
.wsite-elements.wsite-not-footer:not(.wsite-header-elements) div.paragraph, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) p, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-block .product-title, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-description, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .wsite-form-field label, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .wsite-form-field label, #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {font-family:"Karla" !important;}
#wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {}
.wsite-elements.wsite-footer div.paragraph, .wsite-elements.wsite-footer p, .wsite-elements.wsite-footer .product-block .product-title, .wsite-elements.wsite-footer .product-description, .wsite-elements.wsite-footer .wsite-form-field label, .wsite-elements.wsite-footer .wsite-form-field label{}
.wsite-elements.wsite-not-footer:not(.wsite-header-elements) h2, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-long .product-title, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-large .product-title, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-small .product-title, #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {font-family:"Karla" !important;font-weight:700 !important;}
#wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {}
.wsite-elements.wsite-footer h2, .wsite-elements.wsite-footer .product-long .product-title, .wsite-elements.wsite-footer .product-large .product-title, .wsite-elements.wsite-footer .product-small .product-title{}
#wsite-title {font-family:"Karla" !important;}
.wsite-menu-default a {font-family:"Karla" !important;font-weight:700 !important;}
.wsite-menu a {}
.wsite-image div, .wsite-caption {}
.galleryCaptionInnerText {}
.fancybox-title {}
.wslide-caption-text {}
.wsite-phone {}
.wsite-headline,.wsite-header-section .wsite-content-title {}
.wsite-headline-paragraph,.wsite-header-section .paragraph {}
.wsite-button-inner {}
.wsite-not-footer blockquote {}
.wsite-footer blockquote {}
.blog-header h2 a {}
#wsite-content h2.wsite-product-title {}
.wsite-product .wsite-product-price a {}
@media screen and (min-width: 767px) {.wsite-elements.wsite-not-footer:not(.wsite-header-elements) div.paragraph, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) p, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-block .product-title, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-description, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .wsite-form-field label, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .wsite-form-field label, #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {}
#wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {}
.wsite-elements.wsite-footer div.paragraph, .wsite-elements.wsite-footer p, .wsite-elements.wsite-footer .product-block .product-title, .wsite-elements.wsite-footer .product-description, .wsite-elements.wsite-footer .wsite-form-field label, .wsite-elements.wsite-footer .wsite-form-field label{}
.wsite-elements.wsite-not-footer:not(.wsite-header-elements) h2, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-long .product-title, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-large .product-title, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-small .product-title, #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {}
#wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {}
.wsite-elements.wsite-footer h2, .wsite-elements.wsite-footer .product-long .product-title, .wsite-elements.wsite-footer .product-large .product-title, .wsite-elements.wsite-footer .product-small .product-title{}
#wsite-title {}
.wsite-menu-default a {}
.wsite-menu a {}
.wsite-image div, .wsite-caption {}
.galleryCaptionInnerText {}
.fancybox-title {}
.wslide-caption-text {}
.wsite-phone {}
.wsite-headline,.wsite-header-section .wsite-content-title {}
.wsite-headline-paragraph,.wsite-header-section .paragraph {}
.wsite-button-inner {}
.wsite-not-footer blockquote {}
.wsite-footer blockquote {}
.blog-header h2 a {}
#wsite-content h2.wsite-product-title {}
.wsite-product .wsite-product-price a {}
}
.wsite-background {background-image: url("https://mcpepolls.weebly.com/uploads/4/6/9/8/46988459/background-images/223776099.png") !important;background-repeat: no-repeat !important;background-position: 50% 50% !important;background-size: 100% !important;background-color: transparent !important;background: inherit;}
body.wsite-background {background-attachment: fixed !important;}.wsite-background.wsite-custom-background{ background-size: cover !important}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .paragraph {
  padding: 0 !important;
  margin: 0 !important;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion {
  padding: 20px 0;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--simple .accordion__item {
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 0;
  background-color: #FFFFFF;
  height: 100%;
  box-sizing: border-box;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--simple .accordion__item .accordion__title {
  width: 100%;
  background-color: #E0E0E0;
  padding: 10px 20px;
  font-weight: bold !important;
  text-transform: uppercase;
  box-sizing: border-box;
  font-size: 1.25rem;
  transition: 250ms ease;
  opacity: 0.75;
  cursor: pointer;
  min-height: 45px;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--simple .accordion__item .accordion__title span {
  opacity: 0.5;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--simple .accordion__item .accordion__title::after {
  content: '+';
  position: absolute;
  float: right;
  top: 10px;
  right: 20px;
  font-size: 1.25em;
  opacity: 0.5;
  color: #919191;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--simple .accordion__item .accordion__content {
  display: none;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: 500ms ease;
  background-color: #FAFAFA;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--simple .accordion__item.active .accordion__title {
  background-color: #FAFAFA;
  opacity: 1;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--simple .accordion__item.active .accordion__title span {
  opacity: 1;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--simple .accordion__item.active .accordion__title::after {
  content: '\2013';
  color: #9e9e9e;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--simple .accordion__item.active .accordion__content {
  display: block;
  max-height: 1000px;
  transition: 500ms ease;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--material .accordion__item {
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 0;
  background-color: #FFFFFF;
  height: 100%;
  box-sizing: border-box;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--material .accordion__item .accordion__title {
  width: 100%;
  background-color: #E0E0E0;
  padding: 10px 20px;
  font-weight: bold !important;
  text-transform: uppercase;
  box-sizing: border-box;
  font-size: 1.25rem;
  transition: 250ms ease;
  opacity: 0.75;
  cursor: pointer;
  min-height: 45px;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--material .accordion__item .accordion__title span {
  opacity: 0.5;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--material .accordion__item .accordion__title::after {
  content: '+';
  position: absolute;
  float: right;
  top: 10px;
  right: 20px;
  font-size: 1.25em;
  opacity: 0.5;
  color: #919191;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--material .accordion__item .accordion__content {
  display: none;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: 500ms ease;
  background-color: #FAFAFA;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--material .accordion__item.active .accordion__title {
  background-color: #FAFAFA;
  opacity: 1;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--material .accordion__item.active .accordion__title span {
  opacity: 1;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--material .accordion__item.active .accordion__title::after {
  content: '\2013';
  color: #9e9e9e;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--material .accordion__item.active .accordion__content {
  display: block;
  max-height: 1000px;
  transition: 500ms ease;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--material .accordion__item {
  margin-bottom: 1px;
  box-shadow: none;
  transition: 500ms ease;
  z-index: 1;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--material .accordion__item.active {
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  z-index: 3;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--box .accordion__item {
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 0;
  background-color: #FFFFFF;
  height: 100%;
  box-sizing: border-box;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--box .accordion__item .accordion__title {
  width: 100%;
  background-color: #E0E0E0;
  padding: 10px 20px;
  font-weight: bold !important;
  text-transform: uppercase;
  box-sizing: border-box;
  font-size: 1.25rem;
  transition: 250ms ease;
  opacity: 0.75;
  cursor: pointer;
  min-height: 45px;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--box .accordion__item .accordion__title span {
  opacity: 0.5;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--box .accordion__item .accordion__title::after {
  content: '+';
  position: absolute;
  float: right;
  top: 10px;
  right: 20px;
  font-size: 1.25em;
  opacity: 0.5;
  color: #919191;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--box .accordion__item .accordion__content {
  display: none;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: 500ms ease;
  background-color: #FAFAFA;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--box .accordion__item.active .accordion__title {
  background-color: #FAFAFA;
  opacity: 1;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--box .accordion__item.active .accordion__title span {
  opacity: 1;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--box .accordion__item.active .accordion__title::after {
  content: '\2013';
  color: #9e9e9e;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--box .accordion__item.active .accordion__content {
  display: block;
  max-height: 1000px;
  transition: 500ms ease;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--box .accordion__item {
  transition: 500ms ease;
  border: 1px solid #919191;
  z-index: 1;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--box .accordion__item.active {
  z-index: 3;
  border: 1px solid #9e9e9e;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--simple.no-touch .accordion__item {
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 0;
  background-color: #FFFFFF;
  height: 100%;
  box-sizing: border-box;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--simple.no-touch .accordion__item .accordion__title {
  width: 100%;
  background-color: #E0E0E0;
  padding: 10px 20px;
  font-weight: bold !important;
  text-transform: uppercase;
  box-sizing: border-box;
  font-size: 1.25rem;
  transition: 250ms ease;
  opacity: 0.75;
  cursor: pointer;
  min-height: 45px;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--simple.no-touch .accordion__item .accordion__title span {
  opacity: 0.5;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--simple.no-touch .accordion__item .accordion__title::after {
  content: '+';
  position: absolute;
  float: right;
  top: 10px;
  right: 20px;
  font-size: 1.25em;
  opacity: 0.5;
  color: #919191;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--simple.no-touch .accordion__item .accordion__content {
  display: none;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: 500ms ease;
  background-color: #FAFAFA;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--simple.no-touch .accordion__item.active .accordion__title {
  background-color: #FAFAFA;
  opacity: 1;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--simple.no-touch .accordion__item.active .accordion__title span {
  opacity: 1;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--simple.no-touch .accordion__item.active .accordion__title::after {
  content: '\2013';
  color: #9e9e9e;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--simple.no-touch .accordion__item.active .accordion__content {
  display: block;
  max-height: 1000px;
  transition: 500ms ease;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--simple.no-touch .accordion__item .accordion__title:hover {
  opacity: 1;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--simple.no-touch .accordion__item .accordion__title:hover span {
  opacity: 1;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--material.no-touch .accordion__item {
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 0;
  background-color: #FFFFFF;
  height: 100%;
  box-sizing: border-box;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--material.no-touch .accordion__item .accordion__title {
  width: 100%;
  background-color: #E0E0E0;
  padding: 10px 20px;
  font-weight: bold !important;
  text-transform: uppercase;
  box-sizing: border-box;
  font-size: 1.25rem;
  transition: 250ms ease;
  opacity: 0.75;
  cursor: pointer;
  min-height: 45px;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--material.no-touch .accordion__item .accordion__title span {
  opacity: 0.5;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--material.no-touch .accordion__item .accordion__title::after {
  content: '+';
  position: absolute;
  float: right;
  top: 10px;
  right: 20px;
  font-size: 1.25em;
  opacity: 0.5;
  color: #919191;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--material.no-touch .accordion__item .accordion__content {
  display: none;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: 500ms ease;
  background-color: #FAFAFA;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--material.no-touch .accordion__item.active .accordion__title {
  background-color: #FAFAFA;
  opacity: 1;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--material.no-touch .accordion__item.active .accordion__title span {
  opacity: 1;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--material.no-touch .accordion__item.active .accordion__title::after {
  content: '\2013';
  color: #9e9e9e;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--material.no-touch .accordion__item.active .accordion__content {
  display: block;
  max-height: 1000px;
  transition: 500ms ease;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--material.no-touch .accordion__item .accordion__title:hover {
  opacity: 1;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--material.no-touch .accordion__item .accordion__title:hover span {
  opacity: 1;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--material.no-touch .accordion__item {
  margin-bottom: 1px;
  box-shadow: none;
  transition: 500ms ease;
  z-index: 1;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--material.no-touch .accordion__item.active {
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  z-index: 3;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--material.no-touch .accordion__item:hover {
  box-shadow: ;
  z-index: 3;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--box.no-touch .accordion__item {
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 0;
  background-color: #FFFFFF;
  height: 100%;
  box-sizing: border-box;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--box.no-touch .accordion__item .accordion__title {
  width: 100%;
  background-color: #E0E0E0;
  padding: 10px 20px;
  font-weight: bold !important;
  text-transform: uppercase;
  box-sizing: border-box;
  font-size: 1.25rem;
  transition: 250ms ease;
  opacity: 0.75;
  cursor: pointer;
  min-height: 45px;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--box.no-touch .accordion__item .accordion__title span {
  opacity: 0.5;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--box.no-touch .accordion__item .accordion__title::after {
  content: '+';
  position: absolute;
  float: right;
  top: 10px;
  right: 20px;
  font-size: 1.25em;
  opacity: 0.5;
  color: #919191;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--box.no-touch .accordion__item .accordion__content {
  display: none;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: 500ms ease;
  background-color: #FAFAFA;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--box.no-touch .accordion__item.active .accordion__title {
  background-color: #FAFAFA;
  opacity: 1;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--box.no-touch .accordion__item.active .accordion__title span {
  opacity: 1;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--box.no-touch .accordion__item.active .accordion__title::after {
  content: '\2013';
  color: #9e9e9e;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--box.no-touch .accordion__item.active .accordion__content {
  display: block;
  max-height: 1000px;
  transition: 500ms ease;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--box.no-touch .accordion__item .accordion__title:hover {
  opacity: 1;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--box.no-touch .accordion__item .accordion__title:hover span {
  opacity: 1;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--box.no-touch .accordion__item {
  transition: 500ms ease;
  border: 1px solid #919191;
  z-index: 1;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--box.no-touch .accordion__item.active {
  z-index: 3;
  border: 1px solid #9e9e9e;
}
#element-2c3a4eb5-12a0-483d-8775-b15292759c61 .accordion--box.no-touch .accordion__item:hover {
  z-index: 3;
}
